.popup__error {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-error);
  opacity: 0;
  top: calc(100% + 5px);
  left: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 2;
  min-height: 30px;
}