.popup__container_type_place {
  background-image: url("../../../../images/content/karachaevsk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  max-width: 240px;
  aspect-ratio: calc(240px / 299px);
}