.profile__wrapper {
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 33px;

  -o-text-overflow: ellipsis;

     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 880px) {
  .profile__wrapper {
    margin-bottom: 0;
  }
}