.profile__name-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;

  margin: 0 0 7px;

  -o-text-overflow: ellipsis;

     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 880px) {
  .profile__name-edit {
    gap: 18px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}